@font-face {
    font-display: swap;
    font-family: 'Monomakh';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/Monomakh-Regular.ttf') format('truetype');
}

// @font-face {
//     font-display: swap;
//     font-family: 'Monomakh';
//     font-style: normal;
//     font-weight: 500;
//     src: url('assets/fonts/Monomakh-Regular.ttf') format('truetype');
// }